flask==3.1.1
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-wtf==1.2.2
werkzeug==3.1.3
satcfdi>=26.7.2
openpyxl==3.1.5
cryptography==44.0.3
python-dotenv==1.1.0
email-validator==2.2.0
gunicorn==23.0.0
psycopg2-binary==2.9.12
PyMySQL==1.1.1
